body {
  margin: 0;
  padding: 0;
  padding-top: 100px; /* Separa body de navbar fixedtop*/
  padding-bottom: 50px; /* Separa body de navbar fixedbottom*/
  font-family: sans-serif;
}

#shadingfactorstable th,
#radiationtable th,
#julyradiationtable th {
  text-align: center;
  background: lightsteelblue;
}
#shadingfactorstable tbody,
#radiationtable tbody,
#julyradiationtable tbody {
  text-align: right;
}
#shadingfactorstable,
#radiationtable,
#julyradiationtable {
  background: rgb(199, 215, 236);
}

tr.outsidetenv td {
  opacity: 0.5;
}

tr.id_error_warning td {
  color: rgb(180, 80, 0);
}

tr.id_error_danger {
  color: rgb(180, 0, 0);
}

td.td-column-readonly {
  opacity: 0.6;
  background-color: rgb(220,220,220)
}

td.td-column-computed-readonly {
  opacity: 0.8;
  background-color: rgb(220,220,220);
  color: navy;
}

canvas { 
  flex: 1 1 100%;
}
