body {
  margin: 0;
  padding: 0;
  padding-top: 100px; /* Separa body de navbar fixedtop*/
  padding-bottom: 50px; /* Separa body de navbar fixedbottom*/
  font-family: sans-serif;
}

#shadingfactorstable th,
#radiationtable th,
#julyradiationtable th {
  text-align: center;
  background: lightsteelblue;
}
#shadingfactorstable tbody,
#radiationtable tbody,
#julyradiationtable tbody {
  text-align: right;
}
#shadingfactorstable,
#radiationtable,
#julyradiationtable {
  background: rgb(199, 215, 236);
}

tr.outsidetenv td {
  opacity: 0.5;
}

td.td-column-readonly {
  opacity: 0.6;
}
